<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logFileName" value="migrator"/>
    <property name="encoderPattern" value="[%date{&quot;yyyy-MM-dd HH:mm:ss,SSSXXX&quot;,Europe/Warsaw}][%-5level][%logger{36}] %msg%n"/>
    <property name="rolloutPattern" value="%d{yyyy-MM-dd}"/>
    <property name="maxFileSize" value="1024MB"/>
    <property name="maxHistory" value="0"/> <!-- infinity -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFileName}.${rolloutPattern}.%i.gz</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
